.container {
    display: flex;
    flex-direction: column;
}

.heading {
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
}

.description {

}

.time {

}

.location {

}

.actions {
    display: flex;
}

.acceptButton {
    cursor: pointer;
}

.dismissButton {
    cursor: pointer;
}